numpy==1.26.4
pandas==2.1.4
yfinance>=0.2.44
pymongo==4.10.1
requests==2.32.3
multitasking==0.0.11
requests-cache==1.2.0
requests-ratelimiter==0.6.0
pyrate-limiter==2.10.0
lxml>=4.9.0
beautifulsoup4>=4.12.0
html5lib>=1.1
streamlit==1.32.2
plotly>=5.18.0